.about_main {
    padding-top: 7rem;
}

.boxes{
    padding: 3rem 7% 1.5rem 7%;
}

.header {
    height: 33vh;
    overflow: hidden;
    font-family: var(--sky)!important;

}

.header_cont {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.header_img {
    height: 100%;
    position: absolute;
    width: 100%;

}

.header_img img {
    background: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    image-resolution: from-image;
    height: 100% !important;
    width: 100%;
    image-resolution: 300dpi;
    image-resolution: from-image 300dpi;
    image-resolution: 300dpi snap;
}

.header_text {
    position: relative;
    padding: 3rem 7% 1.5rem 7%;
    display: flex;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header_text h2 {
    color: #FFF;

    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.header_text p {
    color: var(--yell);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 185.5%;

}

.header_text a {
    color: white;
}

.about_main .dis_img {
    width: 78%;

}

.aboutus{
 
    width: fit-content;
}

.about_main .discover {
    padding: 3rem 7% 1.5rem 7%;
    align-items: start;
    height: 100%;
}

.about_text {
    width: 78%;
}

.about_text>p {
    padding-top: 2rem;
}

.lead {
    display: flex;
    align-items: center;
    padding-top: 2.7rem;
    gap: 1.8rem;
}

.lead div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #000;
    font-family: var(--sky)!important;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lead div span {
    padding: 0.8rem;
    background: var(--yell);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.ratio {
    background: url(../assets/bluee.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    width: 100%;
    padding: 2.5rem 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--sky)!important;
}

.ratio>div {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    padding: 2.5rem 0;
}

.ratio>div:not(:last-child) {
    border-right: 1px dashed #96A2B8;
}

.ratio p {
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ratio h2 {
    color: #FFF;
    text-align: center;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 0.5rem;
}

.choose {
    padding: 6rem 7%;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--mont)!important;
    gap: 0.7rem;
}

.choose span {
    color: #123373;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.choose_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2.3rem;
    padding-top: 3.5rem;
}

.choose_div div {
    padding: 3rem 2.8rem;
    background: white;
    border-radius: 14px;
    color: #0D0D0D;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 139.361%;
    /* 30.659px */
}

.choose_div div h3 {
    color: #0D0D0D;
    padding-bottom: 1.5rem;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.brow {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6rem 7%;
    justify-content: space-between;
    font-family: var(--mont)!important;
    gap: 3rem;
    background: url(../assets/brow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.brow_text {
    width: 48%;
    color: white;
}

.brow_text span {
    color: var(--yell)!important;
}

.brow_text h2{
    color: white;
    padding-bottom: 1.7rem;
}

.brow_textv p {
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.brow a{
    color: #FFD347;
text-align: center;
font-family:var(--mont)!important;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 1.5rem 4rem ;
border: #FFD347 solid 2px;
border-radius: 40px;
}

.map{
    padding: 6rem 7%;
    background: #EDEDED;
}

.contact{
    padding: 5rem 7%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.contact_form {
    display: flex;
    flex-direction: column;
    
    font-family: var(--mont)!important;
}

.contact_form p{
    padding-top: 1.5rem;
    color: black;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 33px */
}

.contact_form .input> input{
    border-radius: 5px;
background: #EDEDED;
border: none;
width: 100%;
}
.contact_form .input{
    padding-top: 1.5rem;
}
.contact_form textarea{
    width: 100%;
    height: 8rem;
    border-radius: 5px;
 background: #EDEDED;
    border: none;
    margin-top: 0.8rem;
    padding: 1rem;
    resize: none

}

.rap{
    display: flex;
    justify-content: space-between;
align-items: center;
    padding: 1rem 0;
}
.rap input{
    margin-right: 0.5rem;
}

.contact_form button{
  
    width: fit-content;
    padding: 0.6rem 1.5rem;
    border: none;
    color: #FFF;
    font-family: var(--mont)!important;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 163.636% */
border-radius: 10px;
background: #123373;
margin-top: 0;
}

.contact_text{
    font-family: var(--mont) !important;
    color: white;
    background: url(../assets/info.png);
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: inherit;
    justify-content: space-between;
}
.conti, .cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cont h2{
    color: #FFF;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 0.5rem;
}

.cont p{
    color: #FFF;

font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}
.social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social a{
    padding: 0.4rem;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a svg{
    font-size: 1.5rem;
    color:#123373;
    
}




@media screen and (max-width: 1100px) {
    .contact{
        flex-direction: column;
    }
}


@media screen and (max-width: 1024px) {
    .about_main .discover{
        align-items: center;
    }

    .ratio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .ratio div:nth-child(2){
        border-right: none;
    }
}

@media screen and (max-width: 745px) {
    .choose_div{
        flex-direction: column;
        gap: 2rem;
    }
    .lead{
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }
    .header_img img {
        object-fit: cover !important;
        object-position: center;
    }

    .header_cont{
        padding-top: 0;
    }

    .header{
        height: 30vh;
    }

    .dis_img{
        width: 100%;
        
    }
    .dis_img img{
        width: 100%;
    }
    .brow{
        flex-direction: column;
        align-items: start;
    }

    .brow_text {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
  .ratio div{
    border-right: none !important;
  }
  .ratio{
    grid-template-columns: 1fr;
  }

  .choose_div div{
    padding: 1.5rem;
  }

  .brow a{
    padding: 1rem 1.5rem;
  }
  .contact_form{
      padding: 4rem 7%;
  }
  .contact{
      padding: 0;
      gap: 1rem;
  }
  .contact_text{
      padding: 3rem 2rem;
  }
}
